node_modules
/.fleet
/.idea
/.pnp
/.husky
/.unikraft
.pnp.js
.DS_Store
.DS_Store?
.rollup.cache
.cache
.output
.pnpm/
.turbo/
.temp/
.tmp/
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*tsbuildinfo
*.bak
coverage/
temp/
tmp/

.husky
.pnpm-store
testdata/
vendor/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

# SQLite
*.sqlite*
*.sqlite3*
*.db

# Output
build/
dist/

# Vitest
vitest.config.*
!vitest.config.ts
!vitest.config.mts

# envars
.env.*
!.env.example
compose.env*
!compose.env.example

# Miscellaneous
pnpm-exec-summary.json
slim.report.json
